body {
  background: #6FAB4F;
  font-family: sans-serif;
}

h2 {
  color: #fff;
}

.login {
  padding: 2em;
  margin: 2em auto;
  width: 15em;
  background: #fff;
  border-radius: 5px;
}

label {
  font-size: 10pt;
  color: #555;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
  border-radius: 3px;
  height: 30px;
}

.tombol {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        border-radius: 3px;
}
p {
	line-height:2.0em;
	margin-bottom:20px;
}
a {
	color:#6FAB4F;
}
a:hover {
	color:#6FAB4F;
}
a:focus {
	outline:none;
}
a.button { 
    background-color: #80B763;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button-reversed { 
    background-color: #333;
}

a.button:hover {
	background-color: #669D48;
}

a.button-reversed:hover {
	background-color: #222;
}
.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;